* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  width: 540px;
  height: 63px;
  top: 40px;
  left: 285px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 65.63px;
  letter-spacing: -0.004em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #75b79e;
  margin-left: 400px;
margin-top: 30px;
}
body {
  width: 1110px;
  height: 300px;
  opacity: 0px;
 
  flex-direction: column;
  align-items: center;
  background: #eef9bf;
}

.content {
  width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  margin-left: 230px;
margin-top: 30px;
}

.card {
  width: 117px;
  height: 149px;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #99cea8;
  border-radius: 10px;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.virar {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #a7e9af;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

@media (max-width:614px){
  .title {
    width: 312px;
height: 63px;
top: 40px;
left: 12px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: -0.004em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-left: 90px;
margin-top: 30px;
    
  }
.content {
    width: 335px;
height: 629px;
top: -315px;
left: 411px;
gap: 0px;
flex-wrap: wrap;
opacity: 0px;
margin-left: 110px;
margin-top: 40px;

  }
  body {
    width: 335px;
    height: 629px;
    opacity: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    background: #eef9bf;
  }

}
